@model MovieViewModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Dados do Filme</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        @if (Model.Heroes is not null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Heroes)
            </dt>
            <dd class="col-sm-2">
                @foreach (var item in Model.Heroes)
                {
                    <dl>
                        @Html.DisplayFor(itemModel => item.Name)
                    </dl>
                }
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Heroes)
            </dt>
            <dd class="col-sm-2">
                <p>Nenhum herói vinculado</p>
            </dd>
        }
    </dl>
</div>
<br />
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.MovieId  }) |
    <a asp-action="Index">Voltar</a>
</div>
