@model SecretViewModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Dados da Identidade Secreta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SecretId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SecretId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.Name)
        </dd>
    </dl>
</div>
<br />
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.SecretId  }) |
    <a asp-action="Index">Voltar</a>
</div>
