@model IEnumerable<SecretViewModel>

@{
    ViewData["Title"] = "Identidades Secretas";
}

<h1>Identidades Secretas</h1>
<p>
    <a asp-action="Create">Nova Identidade</a>
</p>
@if (Model.Count() == 0)
{
    <p>
        Nenhum identidade cadastrada...
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SecretId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hero.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecretId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hero.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.SecretId }) |
                        @Html.ActionLink("Detalhes", "Details", new { id = item.SecretId }) |
                        @Html.ActionLink("Excluir", "Delete", new { id = item.SecretId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}